
.layout {
    background: #f4f4f4;
    width: 100%;
    height: 100vh;
}

.header {
    background: #fff;
    padding: 0;
}

.info-text {
    font-size: 16px;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
}

.card-container {
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 15px;
}

.btn {
    width: 300px;
    height: 100%;
    padding: 0;
    margin: 5px;
}